
  
  .navigation-clean-button{
    background:#fff;
    padding-top:10px;
    padding-bottom:10px;
    color:#333;
    border-radius:0;
    box-shadow:none;
    border:none;
    margin-bottom:0;
  }
  


  .navigation-clean-button .navbar-brand{
    font-weight:bold;
    color:inherit;
  }
  
  .navigation-clean-button .navbar-brand:hover{
    color:#222;
  }
  
  #logo {
   
   width: 50px;
  }

  .navbar-nav {
      margin-top: 20px; 
      color: #00a4ff;
  }


  
  .navigation-clean-button.navbar .navbar-nav > li > a{
    padding-left:18px;
    padding-right:18px;
    
  }

  .navigation-clean-button.navbar .navbar-nav > li > a:hover{
    color: #00a4ff;
  }
  

  .navigation-clean-button .actions .login{
    margin-right:7px;
    text-decoration:none;
  }
  

  .navigation-clean-button .action-button, .btnColor, .navigation-clean-button .action-button:active{
    
    border-radius:20px;
    color:#fff;
    box-shadow:none;
    border:none;

    padding:10px 22px;
    transition:background-color 0.25s;
  }
  
  .action-button {
    border-radius:20px;
    color:#fff;
    box-shadow:none;
    border:none;
    padding:10px 22px;
  }
  


  .btnColor, #btnCol {
      background-color: #00a4ff;
    
  }

  .btnColor:hover {
    color: white;
  
  }
.tabColor {
    color: #00a4ff;
}

#logLink:hover {
    color:#00a4ff;
}

.actions {
    margin-top: 20px;
}

#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 10px;
    
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 40px;
   
}

.ulSlide {
    list-style-type: none;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #00a4ff;
}

.left, .right {
    color: #00a4ff;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}


.aboutCol {
  color: #00a4ff;
}


/* CSS used for positioning the footers at the bottom of the page. */


html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

#content{
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
 }

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

.thumbnails {
    list-style-type: none;
}

.containerMain {
    background-image: url(../images/jumbotronbackground.jpg);
  display: block;
  position: relative;
    
}

.containerMain::after {
    content: "";
    
    opacity: 0.1;
    
    position: absolute;
    z-index: -1;   
  }

#text {
    color: #56c6c6;
    position: relative;
    z-index: 2;
}


#cancel {
  border-radius:20px;
  color:#fff;
  box-shadow:none;
  border:none;
  padding:10px;
  width: 100px;
  margin-left: 10px;
}

.containerMain {
    position: relative;
    background: black;
    overflow: hidden;
}
.containerMain:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-image: url(../images/jumbotronbackground.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
  -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.containerMain h1 {
    padding: 50px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
} 






.pet {
   float: left;
    margin: 10px; 
  
}

.pet > p {
    font-size: 18px;
}

.pet > h3 {
    font-weight: bold;
}
  
button {
    margin: 10px;
}

.pet img {
 
    height: 200px;
    width: 200px;
   
}

#petImage img {
   
    height: 300px;
    width: 300px;
   
}

#aboutImage {
   max-width: 100%;
}

table, th, td {
    border: 1px solid black;
    /* padding: 30px; */
}

.pet {
    box-shadow: 7px 7px 5px lightgrey;
}





  /* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .pet {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .pet:hover, .pet:focus, .pet:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }



  /* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  #clickity {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  #clickity:hover, #clickity:focus, #clickity:active {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    color: #fff;
  }
  
 


  /* Underline From Left */
.navLink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .navLink:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #00a4ff;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .navLink:hover:before, .navLink:focus:before, .navLink:active:before {
    right: 0;
  }

 

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .petJ {
    /* display: none; */
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  